@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding-top: 5rem;
}
.active {
    @apply underline font-bold text-green-700;
}


.row {
    @apply flex flex-wrap -mx-4
}

.h-250 {
    height: 350px;
}


.product:hover
{
    box-shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;;
   
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}

.icon {
    @apply min-[400px]:p-4 rounded-full bg-white border border-gray-300 flex items-center justify-center  shadow-sm shadow-transparent transition-all duration-500 hover:text-green-500 hover:shadow-green-200 hover:border-green-400 hover:bg-green-50
}

